#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../src/state.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab (
    entities: [
        PrefabEntity(
            data: RotatingPrefab(
                rotating_object: (rate: 0.05),
                render: (
                    graphics: (
                        mesh: Asset(File("meshes/cube.obj", ("OBJ", ()))),
                        material: (
                            albedo: Generate(Srgba(1.0, 0.0, 0.0, 1.0)),
                        ),
                    ),
                    transform: (
                        translation: (0.0, 0.0, 5.0),
                        scale: (2.0, 2.0, 2.0),
                    ),
                ),
            ),
        ),
    ],
)

