#![enable(implicit_some)]
Prefab (
    entities: [
        PrefabEntity(
            data: RotatingPrefab(
                rotating_object: (rate: 0.1),
                render: (
                    graphics: (
                        mesh: Asset(File("meshes/sphere.obj", ("OBJ", ()))),
                        material: (
                            albedo: Generate(Srgba(0.0, 1.0, 0.0, 1.0)),
                        ),
                    ),
                    transform: (
                        translation: (10.0, 0.0, 5.0),
                        scale: (2.0, 2.0, 2.0),
                    ),
                ),
            )
        ),
    ],
)

