#![enable(implicit_some)]
Prefab (
    entities: [
        PrefabEntity(
            data: PlayerPrefab(
                rotating_object: (max_rate: 20.0, rate: [0.0, 0.0], acceleration: 2.0),
                tracked_object: (),
                position: Position(p: [0.0, 20.0, 0.0]),
                velocity: Velocity(v: [0.0, 0.0, 0.0]),
                force: Force(f: [0.0, 0.0, 0.0]),
                movable: Movable(mass: 1.0, g: 9.81),
                render: (
                    graphics: (
                        mesh: Asset(File("meshes/sphere.obj", ("OBJ", ()))),
                        material: (
                            albedo: File(
                                "textures/mercator_texture.png",
                                (
                                    "IMAGE",
                                    (
                                        sampler_info: (
                                            min_filter: Linear,
                                            mag_filter: Linear,
                                            mip_filter: Linear,
                                            wrap_mode: (Border, Border, Border),
                                            lod_bias: (0),
                                            lod_range: (
                                                start: ( 0 ),
                                                end: ( 8000 ),
                                            ),
                                            comparison: None,
                                            border: (0),
                                            normalized: true,
                                            anisotropic: Off,
                                        ),
                                    ),
                                )
                            ),
                            transparent: true,
                        ),
                    ),
                    transform: (
                        scale: (1.0, 1.0, 1.0),
                    ),
                ),
            )
        ),
    ],
)

